
.row {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.note-card,
app-notes {
  width: 100%;
}

.note-card {
  border-radius: 8px;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.new-note-form {
  max-width: 700px;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 10px;
}

.form-group {
  margin-bottom: 1rem;
}

.form-control{
   margin-top: 1%;
   margin-bottom: 1%;
}

.form-actions {
  display: flex;
  justify-content: center; 
  gap: 1rem;              
  margin-top: 1.5rem;
}

/* #add-button {
  padding: 10px 20px;
  border: none;
  background-color: #47d770;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
} */

#add-button {
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 20px;
  border: none;
  background-color: #47d770;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
}

#editbutton {
  margin-left: 15px;
}
.form-actions .btn {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-actions .btn-primary {
  background-color: #2563eb; 
  color: white;
}

.form-actions .btn-primary:hover {
  background-color: #163eab; 
}

.form-actions .btn-secondary {
  background-color: #6b7280; 
  color: white;
}

.form-actions .btn-secondary:hover {
  background-color: #4b5563;
}

h4, h3{
  font-weight: bold;
  padding: 1%;
  padding-left: 0%;
}