#add-button {
  padding: 10px 20px;
  border: none;
  background-color: #47d770;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
}

.edit{
}
.edit button{
  padding: 5px 10px;
  background-color: #007bff;
}

.buttons{
  /* position: absolute; */
  /* display: flex; */
}